@model InventoryMVC.Models.BrandData

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Brand Details</h2>
    <hr />
    <div class="table-responsive">
        <table style="width:400px" class="table table-bordered">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BrandId)</td>
                    <td>@Html.DisplayFor(model => model.BrandId)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BrandName)</td>
                    <td>@Html.DisplayFor(model => model.BrandName)</td>
                </tr>
               
            </tbody>
        </table>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BrandId  }) |
        <a asp-action="Index">Back</a><br /><br />
    </div>
</div>