@model IEnumerable<InventoryMVC.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<h3>Product</h3>
<p>
    <a asp-action="Create">Add NewProduct</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.product.product_Id)</th>
            <th>@Html.DisplayNameFor(model => model.product.product_Name)</th>
            <th>@Html.DisplayNameFor(model => model.product.product_price)</th>
            @if(true)
            {}
            <th>@Html.DisplayNameFor(model => model.product.inventory.stock_product_quantity)</th>
            <th>@Html.DisplayNameFor(model => model.Category.CategoryName)</th>
            <th>@Html.DisplayNameFor(model => model.Brand.BrandName)</th>
            @if(true)
            {}
            <th>@Html.DisplayNameFor(model => model.Supplier.supplierName)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>@Html.DisplayFor(model => item.product.product_Id)</td>
            <td>@Html.DisplayFor(model => item.product.product_Name)</td>
            <td>@Html.DisplayFor(model => item.product.product_price)</td>
            <td>@Html.DisplayFor(model => item.product.inventory.stock_product_quantity)</td>
            <td>@Html.DisplayFor(model => item.Category.CategoryName)</td>
            <td>@Html.DisplayFor(model => item.Brand.BrandName)</td>
            <td>@Html.DisplayFor(model => item.Supplier.supplierName)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.product.product_Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.product.product_Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.product.product_Id  })
            </td>
        </tr>
}
    </tbody>
</table>
