@model IEnumerable<InventoryMVC.Models.SupplierData>

@{
    ViewData["Title"] = "Index";
}

<h1>Supplier Data</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.supplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierBulstat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplierPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplierId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierBulstat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierPhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.supplierId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.supplierId  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.supplierId  })
            </td>
        </tr>
}
    </tbody>
</table>
</div>

